@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face{
    font-family: 'Main Theme';
    src: url(fonts/Heart\ Breaking\ Bad.otf)
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: #fff;
    --font-color: #000;
    --primary-color: #093009;
    --second-color: #0D3E10;
    --thirdh-color: #1F6032;
    --fourth-color: #369457;
}

html{
    width: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    background: #F5F5F5;
    background-size: cover;
}

header{
    background-color: rgba(255, 255, 255, 0.685);
    color: var(--bg-color);
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imgs/thumb-1920-321927.jpg);
    background-size: cover;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 8vh;
    top: 0%;
    position: fixed;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0px 0px 3px 3px;
    backdrop-filter:blur(6px);
    box-sizing: border-box;
    z-index: 99;
}
.a_nav_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 8vh;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    text-transform: uppercase;
}

ul li{
    padding: 0px 8px 0px 8px;
}

ul a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--font-color);
}

#progress-container {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
}
  
#progress-bar-container {
width: 100%;
height: 5px;
}

#progress-bar {
height: 5px;
background-image: linear-gradient(90deg, #093009, #0D3E10, #1F6032, #29773E, #369457, #032202);
width: 0%;
}

.content {
height: 10000px;
}

/* Midias Sociais */
.sociais{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: auto;
    gap: 0.6rem;
    left: 95%;
    top: 75%;
    transform: translate(-50%, -50%);
}
.img{
    padding: 3px;
    width: 24px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease-in;
    box-shadow: 4px 2px 16px 5px hsla(0, 0%, 0%, 0.2);
}
.twitter:hover{
    background-color: #fff;
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px 8px hsla(0, 0%, 0%, 0.2);
}
.instagram:hover{
    background-color: #fff;
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px 8px hsla(0, 0%, 0%, 0.1);
}
.github:hover{
    background-color: #fff;
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px 8px hsla(0, 0%, 0%, 0.1);
}
.linkedin:hover{
    background-color: #fff;
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px 8px hsla(0, 0%, 0%, 0.1);
}
.facebook:hover{
    background-color: #fff;
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px 8px hsla(0, 0%, 0%, 0.1);
}

/* Header title */
.main-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
}

.main-title h1{
    font-size: 4em ;
    font-weight: 600;
    padding-bottom: 5vw;
}

.main-title p{
    font-size: 1em;
    font-weight: 300;
}

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
}

main h1{
    padding: 55px 0px 0px 0px ;
    text-align: center;
    font-size: 4em;
}
main h2{
    text-align: center;
    padding-bottom: 20px;
}

main > p {
    font-size: 1rem;
    font-weight: 400;
    text-align:justify;
    padding: 0px 10px 0px 10px;
    text-indent: 20px;
}

.spoiler{
    color: var(--fourth-color);
    font-size: 3rem;
}

/* CARDS */
#resumo{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.cards{
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    justify-content: center;
    justify-items: center;
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}

.card{
    width: 35vw;
    height: 200px;
    background: transparent;
    border-radius: 10px;
    padding-bottom: 100px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.left-card-1, 
.left-card-2,
.left-card-3,
.left-card-4,
.left-card-5{
    position: relative;
    width: 40%;
    height: 280px;
    float: left;
    background: #ffda00;
    border-radius: 10px 0 0 10px;
}

.left-card-1 img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left-card-2 img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left-card-3 img{
    width: 150%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.left-card-4 img{
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left-card-5 img{
    width: 150%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.right-card{
    width: 60%;
    height: 280px;
    float: left;
    background: #000;
    border-radius: 0 10px 10px 0;
    color: white;
}

.right-card h1{
    font-weight: 400;
    text-align: left;
    font-size: 1.3em;
    margin: 20px 0 0 0;
    padding: 0 0 0 40px;
    letter-spacing: 1px;
}

.right-card ul{
    list-style-type: none;
    padding: 0 0 0 30px;
    margin: 10px 0 0 0 ;
    justify-content: flex-start;
}

.right-card ul.information{
    display: flex;
    justify-content: space-between;
    padding-right: 95px;
}

.right-card ul li{
    display: inline;
    color: #e3e3e3;
    font-weight: 400;
    font-size: 0.8em;
    padding: 0 5px 0 0 ;
}

.right-card ul li i {
    color: #ffda00;
}

.right-card .right-card-review{
    font-size: 0.7em;
    padding: 0  10px 0 30px ;
    margin: 10px 0;
    text-align: justify;
}

.right-card .right-card-review > p::first-letter{
    font-size: 1rem;
    font-weight: bold;
    color: #ffda00;
}
.right-card .right-card-button a {
    text-decoration: none;
    font-size: 1em;
    padding: 0 0 0 30px;
    color: #ffda00;
    margin: 0;
}

.historia{
    display: block;
}

.historia > h1{
    margin-top: 50px;
    padding-bottom: 25px;
}
.historia > p {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    text-indent: 20px;
}

/* -- CARDS PERSONAGENS -- */
.p-cards{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    padding: 20px;
    background-color: black;
}

.p-card{
    background-color: #ced4da;
    border-radius: .6rem .6rem .0rem .0rem ;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 230px;
    object-fit: cover;
}

.p-card_content > span{
    padding-left: 5px;
}

.p-card_image{
    align-items: center;
    background-color: #b5b9c1;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    display: flex;
    flex: 5;
    justify-content: center;
    overflow: hidden; 
} 

.p-card_content{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}

.img2{
    width: 100%;
    height: 100%;
}